aws-cdk-lib==2.67.0
aws_cdk-aws_apigatewayv2_alpha==2.67.0a0
aws_cdk-aws_apigatewayv2_integrations_alpha==2.67.0a0
constructs>=10.0.0

pydantic
python-dotenv

mangum>=0.10.0
botocore==1.29.76
aiobotocore==2.5.0
s3fs==2023.4.0
fsspec==2023.4.0
